In [12]:
import pandas as pd
import numpy as np
import statsmodels.api as sm 
control=pd.read_csv("control_group.csv",sep=";")
test=pd.read_csv("test_group.csv",sep=";")
def clean_columns(df):
    df.columns = (
        df.columns
        .str.lower()
        .str.strip()
        .str.replace(" ", "_")
        .str.replace("#", "")
        .str.replace("[", "")
        .str.replace("]", "")
    )
    return df

control = clean_columns(control)
test = clean_columns(test)

control.columns

Index(['campaign_name', 'date', 'spend_usd', '_of_impressions', 'reach',
       '_of_website_clicks', '_of_searches', '_of_view_content',
       '_of_add_to_cart', '_of_purchase'],
      dtype='object')

In [13]:
control.head()

,campaign_name,date,spend_usd,_of_impressions,reach,_of_website_clicks,_of_searches,_of_view_content,_of_add_to_cart,_of_purchase
0,Control Campaign,1.08.2019,2280,82702.0,56930.0,7016.0,2290.0,2159.0,1819.0,618.0
1,Control Campaign,2.08.2019,1757,121040.0,102513.0,8110.0,2033.0,1841.0,1219.0,511.0
2,Control Campaign,3.08.2019,2343,131711.0,110862.0,6508.0,1737.0,1549.0,1134.0,372.0
3,Control Campaign,4.08.2019,1940,72878.0,61235.0,3065.0,1042.0,982.0,1183.0,340.0
4,Control Campaign,5.08.2019,1835,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
test.head()

,campaign_name,date,spend_usd,_of_impressions,reach,_of_website_clicks,_of_searches,_of_view_content,_of_add_to_cart,_of_purchase
0,Test Campaign,1.08.2019,3008,39550,35820,3038,1946,1069,894,255
1,Test Campaign,2.08.2019,2542,100719,91236,4657,2359,1548,879,677
2,Test Campaign,3.08.2019,2365,70263,45198,7885,2572,2367,1268,578
3,Test Campaign,4.08.2019,2710,78451,25937,4216,2216,1437,566,340
4,Test Campaign,5.08.2019,2297,114295,95138,5863,2106,858,956,768

In [16]:
#metric, Conversion Rate = Purchase / Impressions
control_cr = control["_of_purchase"].sum() / control["_of_impressions"].sum()
test_cr = test["_of_purchase"].sum() / test["_of_impressions"].sum()

print("Control CR:", control_cr)
print("Test CR:", test_cr)

Control CR: 0.0047717620961383695
Test CR: 0.006988465925139349

In [ ]:
H₀: Conversion rate Control = Test

H₁: Conversion rate Control ≠ Test

In [18]:
success = np.array([
    control["_of_purchase"].sum(),
    test["_of_purchase"].sum()
])

nobs = np.array([
    control["_of_impressions"].sum(),
    test["_of_impressions"].sum()
])

z_stat, p_value = sm.stats.proportions_ztest(success, nobs)

z_stat, p_value

(-33.77499922226043, 4.59330633997262e-250)

In [19]:
if p_value < 0.05:
    print("Reject H0: Test group hiệu quả hơn (có ý nghĩa thống kê)")
else:
    print("Fail to reject H0: Không đủ bằng chứng cho sự khác biệt")

Reject H0: Test group hiệu quả hơn (có ý nghĩa thống kê)